USE [duchlsi]
GO
/****** Object:  Table [dbo].[ExportHistory]    Script Date: 29.12.2025 21:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExportName] [nvarchar](200) NOT NULL,
	[ExportDateTime] [datetime2](0) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[LocationName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_ExportHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
